{% extends "musicdata/base.html" %}

{% block content %}
        <h2>Select Key mode</h2>
        <a href="/keylist/major">Major</a> OR <a href="/keylist/minor">Minor</a>
        <h2>Show songs by album</h2>
        <a href="/list/Pornography">Pornography</a><br>
        <a href="/list/The Top">The Top</a><br>
        <a href="/list/Concert - The Cure Live">Concert - The Cure Live</a><br>
        <a href="/list/The Head On The Door">The Head On The Door</a><br>
        <a href="/list/Kiss Me Kiss Me Kiss Me">Kiss Me Kiss Me Kiss Me</a><br>
        <a href="/list/Disintegration (Deluxe Edition [Remastered])">Disintegration (Deluxe Edition [Remastered])</a><br>
        <a href="/list/Mixed Up (Remastered 2018/Deluxe Edition)">Mixed Up (Remastered 2018/Deluxe Edition)</a><br>
        <a href="/list/Wish">Wish</a><br>
        <a href="/list/Paris">Paris</a><br>
        <a href="/list/Show">Show</a><br>
        <a href="/list/Wild Mood Swings">Wild Mood Swings</a><br>
        <a href="/list/Bloodflowers">Bloodflowers</a><br>
        <a href="/list/The Cure">The Cure</a><br>
        <a href="/list/Hypnagogic States">Hypnagogic States</a><br>
        <a href="/list/4:13 Dream">4:13 Dream</a><br>
        <a href="/list/Bestival Live 2011">Bestival Live 2011</a><br>
        <h2>Create Album Entry</h2>
        <a href="/create_album/">Add a Album Entry</a>
        <h2>Create Song Specs Entry</h2>
        <a href="/create_spec/">Add a Song Specs Entry</a>
        <h2>Create Song Entry</h2>
        <a href="/create_song/">Add Song Entry To Data Base</a>
        <h2>API Endpoints HyperLinks</h2>
        <a href="/api/song/1">Song 1 Details</a><br>
        <a href="/api/album/1">Album 1 Details</a><br>
        <a href="/api/spec/1">Spec 1 Details</a><br>
        <a href="/api/songs">Songs List</a><br>
        <a href="/api/albums">Albums List</a><br>
        <a href="/api/specs">Specs List</a><br>
        <br />
{% endblock %}
